/**nav**/
#nav{
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 2px #e4e4e4 solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 3px;
    font-weight: bold;
    font-family: 'Acumin Pro';
    background: white;   
    margin: 0; 
}

#logolastpass{
    position: relative;
    margin-top: 5%;
}
#fonctionnement{
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 15%;
    margin-top: 10%;
}
#particulier{
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 13%;
    margin-top: 10%;
}
#business{
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
}
#tarifs{
    position: relative;
    margin-left: 5%;
    margin-top: 10%;
}
#ressources{
    position: relative;
    margin-left: 5%;
    margin-top: 10%;
}
#connexion{
    position: relative;
    margin-left: 40%;
    margin-top: 10%;
}
#obtenir{ 
    position: relative;
    margin-right: 40%;
    margin-top: 10%;
    color: white;
    border-radius: 90px;
    background-color: #DD2222;
    width: 230px;
    height: 35px;
    padding: 3px;
    margin: 2px;
    border: #DD2222;
}
/**main**/
#titre1{
    background-color: #edeef0;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    
}
h1{
    font-family: 'neo-sans', arial, sans-serif;
    line-height: 60px;
    padding-top: 100px;

}
p{
    font-family: 'Acumin Pro';
    font-size: 24px;
}
#main{
    display: grid;
}
#particulier1{
    width: 230px;
    height: 35px;
    color: white;
    border-radius: 90px;
    background-color: #DD2222;
    border: #DD2222;
    font-family: 'neo-sans', arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-right: 250px;

}
#business1{
    width: 230px;
    height: 35px;
    color: white;
    border-radius: 90px;
    background-color: #3B70D4;
    border: #3B70D4;
    font-family: 'neo-sans', arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-right: 1px;
}
#paligner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#proteger{
    font-size: 14px;
    margin-left: -300px;
}
#securiser{
    font-size: 14px;
    margin-left: 300px; 
}
.espace{
    height: 100px;
}
#lepilote{
    text-align: center;
    font-family: 'neo-sans', arial, sans-serif;
    font-weight: bold;
    font-size: 44px;
    word-spacing: -5px;
}
#lastpass{
    text-align: center;
    font-family: 'Acumin Pro';
    font-weight: bold;
    font-size: 24px;
}
#imagetext{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#imagetext1{
    display: grid;
}
.icon1{
    width: 92px;
    height: 92px;
    margin-left: 200px;
}
.h3dimension{
    text-align: center;
    font-family: 'neo-sans', arial, sans-serif;
    font-size: 20px;
}
.unefois{
    text-align: center;
    font-family: 'Acumin Pro';
    font-size: 16px;
}
#peace{
    text-align: center;
    font-family: 'neo-sans', arial, sans-serif;
    font-size: 50px;
    margin-top: 120px;
    font-weight: bold;
}
#save{
    text-align: center;
    font-family: 'Acumin Pro';
    font-size: 20px;
    font-weight: 100;
}
/**commence le footer ici**/
#footer{
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 25px;
}
#footer1{
    width: 80%;
    background-color: black;
    color: white;
    padding-top: 25px;
    text-align: auto;
    margin-left: 150px;

}
#monthly{
    height: 30px;
    align-items: center;
}
#suivez{
    height: 30px;
}
#footerconteneair1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    line-height: 25px;
    text-align: left;
    font-family: 'Acumin Pro';
    font-size: 12px;
}
.titrefooter{
    color: #9aa8bb;
    font-weight: bolder;
}
#c2022{
    position: relative;
    margin-left: 55%;
}
#piedfooter{
    border-top: #9aa8bb 2px solid;
}
/**modification des mentions 30 millions**/
#mention1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mentions{
    width: 90%;
    height: 150px;
    background-color: #F0F2F5;
    margin-left: 8px;
}
#text30m{
    font-family: 'neo-sans', arial, sans-serif;
    color:#DD2222;
    font-weight: bold;
    font-size: 40px;
    margin-left: 70px;
    position: relative;
    top: 55px;
}
#textdepersonne{
    font-family: 'neo-sans', arial, sans-serif;
    color:#0a0101;
    font-weight: bold;
    font-size: 40px;
    margin-left: 70px;
    position: relative;
    top: 55px;
}
a{
    text-decoration: none;
    color:#0a0101;
}